.list-container2 {
    height: 80vh;
    background: #ffcece;
    overflow: auto;
    border: 2px solid #000;
    width: 50%;
    margin: 0 auto;

}


.list2 {
    height: auto;
    font-size: 20px;
    flex-direction: column;
    padding: 14px;
    background: #533c3c;
    border-bottom: 1px solid #000;
}