.toast-container {
  border-radius: 8px;
  width: 400px;
  height: auto;
  overflow: hidden;
  z-index: 1000;
  position: relative;
}


.toast-container[data-type='success'] {
  background-color: green;
  border: solid 2px green;
}

.toast-container[data-type='error'] {
  background-color: red;
  border: solid 2px red;
}

.toast-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  color: aliceblue;
}

.toast-progress {
  height: 5px;
  background-color: aqua;
  border-radius: 8px;
  transition: width 0.3s;
}
