.carousel-container {
    min-width: 500px;
    width: 80vw;
    height: 60vh;
    display: flex;
    margin: auto;
    position: relative;
    cursor: pointer;

}

.carousel-images img {
    min-width: 500px;
    width: 80vw;
    height: 60vh;
    display: flex;
    position: absolute;
    transition: opacity 0.5s linear;

}

.carousel-images img[data-active="true"] {
    opacity: 1;
}

.carousel-images img[data-active="false"] {
    opacity: 0;
}

.carousel-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    top: 50%;
}

.carousel-buttons button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;

}

.show {
    animation: showAnimation 0.5s ease-in-out forwards;
    z-index: 10;
    opacity: 1 !important;
}

.hide {
    animation: hideAnimation 0.5s ease-in-out forwards;
    z-index: 1;
    opacity: 0;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    position: absolute;
    top: 105%;

}

.carousel-dots button {
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}


@keyframes showAnimation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }

}

@keyframes hideAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}